@{
    ViewData["Title"] = "О нас";
}
<body>
    <div>
        <div>
            <p id="cases">Наши кейсы</p>
            <div class="rectCase1">
                <p id="case1">Создание 3D модели производства и привязка <br />
                    различного интерактива <br />
                    (обучение, демонстрация,)</p>
            </div>
            <div class="rectCase2">
                <p id="case2"> Создание виртуальных шоурумов для <br />
                    застройщиков (демонстрация в 3D и VR <br />
                    будущего дома, квартир, придомовой <br />
                    территории)</p>
            </div>
            <div class="rectCase3">
                <p id="case3">3D модели производства, на которой в реальном <br />
                    времени, за счёт средств диспетчеризации и <br />
                    контроля отображается состояние производства, передвижение персонала и техники</p>
            </div>

            <div>
                <p id="callUs">Связь с нами</p>
                <div id="adress">
                    <p>Адрес</p>
                    <p>Уфа, Кирова 52</p>
                </div>
                <div id="Phone">
                    <p>Телефон</p>
                    <p>+7 (917) 431-86-38</p>
                </div>
                <div id="Email">
                    <p>e-mail адрес</p>
                    <p>info@techmsys.ru</p>
                </div>
            </div>

            <div class="flat">
                <img id="hata" src="/img/hata.png" />
                <div class="rectforflat">
                </div>
                <p id="for_flat">
                    технологии дополнительной <br />
                    реальности и создание <br />
                    интерактивных 3D моделей
                </p>
            </div>
        </div>
        
    </div>
</body>