@{
    ViewData["Title"] = "О нас";
}

<div>
    <div style="display: flex">
        <div style="margin-left: 5.8%; margin-top: 1.1%">
            <h2 id="subtitle-about">
                Наши кейсы
            </h2>
            <div class="white-border-div" style="margin-top: 4%; width: 410px">
                <p class="about-text">
                    Создание 3D модели производства и привязка<br />
                    различного интерактива<br />
                    (обучение, демонстрация)
                </p>
            </div>
            <div class="white-border-div" style="margin-top: 4%; width: 410px">
                <p class="about-text">
                    Создание виртуальных шоурумов для<br />
                    застройщиков (демонстрация в 3D и VR<br />
                    будущего дома, квартир, придомовой<br />
                    территории)
                </p>
            </div>
            <div class="white-border-div" style="margin-top: 4%; width: 410px">
                <p class="about-text">
                    3D модели производства, на которой в реальном<br />
                    времени, за счёт средств диспетчеризации и<br />
                    контроля отображается состояние производства,<br />
                    передвижение персонала и техники
                </p>
            </div>
        </div>

        <div style="margin-left: 35%; margin-top: 3%;">
            <div class="white-border-div-1" style="display: inline-block">
                <img id="living-room" src="~/img/living-room.png" />
            </div>

            <p class="central-image-description-white">Технологии дополнительной<br />реальности и создание<br />интерактивных 3D моделей</p>
        </div>
    </div>

    <h2 class="subtitle-about-contacts" style="margin-top: 2%; margin-left: 5.8%">
        Связь с нами
    </h2>

    <div style="display: flex; margin-left: 5.8%; margin-top: 2%;">
        <div>
            <h2 class="subtitle-about-contacts">
                Адрес
            </h2>
            <p class="contact-text">
                Уфа, Кирова 52
            </p>
        </div>

        <div style="margin-left: 6.5%">
            <h2 class="subtitle-about-contacts">
                Телефон
            </h2>
            <p class="contact-text">
                +7 (917) 431-86-38
            </p>
        </div>

        <div style="margin-left: 6.5%">
            <h2 class="subtitle-about-contacts">
                e-mail адрес
            </h2>
            <p class="contact-text">
                info@techmsys.ru
            </p>
        </div>
    </div>
</div>
