@{
    ViewData["Title"] = "О нас";
}

<div>
    <div style="display: flex">
        <div>
            <h2 class="subtitle">
                Наши кейсы
            </h2>
            <p class="about-text">
                Создание 3D модели производства и привязка<br />
                различного интерактива<br />
                (обучение, демонстрация)
            </p>
            <p class="about-text">
                Создание виртуальных шоурумов для<br />
                застройщиков (демонстрация в 3D и VR<br />
                будущего дома, квартир, придомовой<br />
                территории)
            </p>
            <p class="about-text">
                3D модели производства, на которой в реальном<br />
                времени, за счёт средств диспетчеризации и<br />
                контроля отображается состояние производства,<br />
                передвижение персонала и техники
            </p>
        </div>
    </div>
</div>
