@{
    ViewData["Title"] = "Gallery";
}

<body>
    <div>
        <h1 class="logo">Галерея проектов</h1>
        <p id="textVR">Технологии AR и VR можно успешно применять при построении решений <br /> для металлургии:</p>
        <p id="textVR1">C помощью них можно моделировать сложную структуру энергетических <br /> станций:</p>
        <div>
            <img style="width: 260px;height: 150px;margin-top: 11.5%; margin-left: 6.5%" src="/img/plant.png" />
            <img style="width: 260px;height: 150px;margin-top: 11.5%;margin-left: 3%" src="/img/image 13.png" />
            <img style="width: 260px;height: 150px;margin-top: 11.5%;margin-left: 3%" src="/img/image 14.png" />
            <img style="position: absolute;width: 260px;height: 150px;margin-top: 27.5%;margin-left: -48%;" src="/img/image 15.png" />
            <img style="position: absolute;width: 260px;height: 150px;margin-top: 27.5%;margin-left: -30.8%;"src="/img/image 16.png" />
        </div>
    </div>
    
</body>