@{
    ViewData["Title"] = "Gallery";
}


<div>
    <h1 style="font-size: 32px; margin-top: 3%; margin-left: 6%; color: white ">Галерея проектов</h1>
    <p style="font-size: 20px; margin-top: 2%; margin-left: 6%; color: white">
            Технологии AR и VR можно успешно применять при построении решений <br />
            для металлургии:
    </p>
    
    <div style="display: flex">
        <div class="border-with-gallery" style="margin-left: 6%">
            <img class="gallery-image" src="/img/foundry-shop.png" />
        </div>
        <div class="border-with-gallery" style="margin-left: 2%">
            <img class="gallery-image" src="/img/bridge-foundry.png" />
        </div>
        <div class="border-with-gallery" style="margin-left: 2%">
            <img class="gallery-image" src="/img/iron-foundry.png" />
        </div>

        <h2 class="text-with-gallery">ВОЗМОЖНОСТИ ТЕХНОЛОГИЙ AR И VR</h2>
        <p class="gallery-text">
            <span>В настоящее время уровень развития технологий виртуальной и дополненной <br />
                реальностей достиг такого уровня, что их влияние на современный бизнес трудно <br />
                не заметить. Данные технологии принципиально меняют подход к визуализации и использованию <br />
                данных, повышая эффективность и конкурентоспособность бизнеса. Эти технологии могут быть <br />
                использованы для обучения всех групп населения, начиная от дошкольников и заканчивая <br />
                высококвалифицированными специалистами. Модели для удаленной <br />
                работы и поддержки, сейчас востребованы как никогда.</span>
        </p>
    </div>
    <p style="font-size: 20px; margin-top: 2%; margin-left: 6%; color: white ">
        C помощью них можно моделировать сложную структуру энергетических <br />
        станций:</p>
    <div style="display:flex">
        <div class="border-with-gallery" style="margin-left: 6%;">
            <img class="gallery-image" src="/img/image 15.png" />
        </div>
        <div class="border-with-gallery" style="margin-left: 2%;">
            <img class="gallery-image" src="/img/image 16.png" />
        </div>
        <div class="border-with-gallery" style="margin-left: 2%;">
            <img class="gallery-image" src="/img/image 17.png" />
        </div>
        
    </div>
    <div style="display:flex">
        <div class="border-with-gallery" style="margin-left: 6%; margin-top: 1%">
            <img class="gallery-image" src="/img/image 18.png"/>
        </div>
        <div class="border-with-gallery" style="margin-left: 2%; margin-top: 1%">
            <img class="gallery-image" src="/img/image 19.png" />
        </div>
        <div class="border-with-gallery" style="margin-left: 2%; margin-top: 1%">
            <img class="gallery-image" src="/img/image 20.png" />
        </div>
    </div>
</div>
  









  

    