@{
    ViewData["Title"] = "Gallery";
}

<body>
    <div>
        <h1 class="logo">Галерея проектов</h1>
        <p id="textVR">Технологии AR и VR можно успешно применять при построении решений <br /> для металлургии:</p>
        <p id="textVR1">C помощью них можно моделировать сложную структуру энергетических <br /> станций:</p>
        <div>
            <img style="width: 260px;height: 150px;margin-top: 11.5%; margin-left: 6.5%" src="/img/plant.png" />
            <img style="width: 260px;height: 150px;margin-top: 11.5%;margin-left: 3%" src="/img/image 13.png" />
            <img style="width: 260px;height: 150px;margin-top: 11.5%;margin-left: 3%" src="/img/image 14.png" />
            <img style="position: absolute;width: 260px;height: 150px;margin-top: 27.5%;margin-left: -48%;" src="/img/image 15.png" />
            <img style="position: absolute;width: 260px;height: 150px;margin-top: 27.5%;margin-left: -30.8%;"src="/img/image 16.png" />
            <img style="position: absolute;width: 260px;height: 150px;margin-top: 27.5%;margin-left: -13.6%;" src="/img/image 17.png" />
        </div>


        <div>
            <div style="position: absolute;width: 300px;height: 195px;background: none;border: 2px solid white;margin-top: -9.3%;margin-left: 5.5%;"></div>
            <div style="position: absolute;width: 300px;height: 195px;background: none;border: 2px solid white;margin-top: -9.3%;margin-left: 22.5%;"></div>
            <div style="position: absolute;width: 300px;height: 195px;background: none;border: 2px solid white;margin-top: -9.3%;margin-left: 39.7%;"></div>
            <div style="position: absolute;width: 300px;height: 195px;background: none;border: 2px solid white;margin-top: 6.8%;margin-left: 39.9%;"></div>
            <div style="position: absolute;width: 300px;height: 195px;background: none;border: 2px solid white;margin-top: 6.8%;margin-left: 22.8%;"></div>
            <div style="position: absolute;width: 300px;height: 195px;background: none;border: 2px solid white;margin-top: 6.8%;margin-left: 5.5%;"></div>
        </div>

        <div id="VR_AR">
            <p>
                В настоящее время уровень развития технологий виртуальной <br />
                (VR, Virtual reality) и дополненной (AR, Augmented reality) реальностей <br />
                достиг такого уровня, что их влияние <br /> 
                на современный бизнес трудно не заметить. <br />
                Эти технологии могут быть использованы для <br />
                обучения всех групп населения, начиная от дошкольников <br />
                и заканчивая высококвалифицированными специалистами. <br />
                Модели для удаленной работы и поддержки, сейчас востребованы как никогда.</p>
            <div style="position: absolute;width: 560px;height: 200px;margin-left: -3%;margin-top: -38.9%;background: none;border: 2px solid #ffffff;"></div>
        </div>
        
    </div>
    
</body>