@{
    ViewData["Title"] = "Главная";
}

<div>
    <img id="text-image" src="~/img/text-image.png" />

    <h1 id="title">
        СОВРЕМЕННЫЕ РЕШЕНИЯ<br />В ОБЛАСТИ<br />МОДЕЛИРОВАНИЯ И<br />ДИСПЕТЧЕРИЗАЦИИ<br />ТЕХНОЛОГИЧЕСКИХ<br />ПРОЦЕССОВ
    </h1>

    <a id="detail-button" asp-area="" asp-controller="Home" asp-action="About">Подробнее</a>

    <div style="margin-top: 2.5%; margin-left: 6.9%; padding: 1px" role="menu">
        <div style="display: flex;">
            <a class="icon-button" asp-area="" asp-controller="Home" asp-action="Service">
                <img id="tesseract" src="~/img/tesseract.jpg" />

                <p style="margin-top: 16%">3D МОДЕЛИ ДЛЯ<br />ПРОИЗВОДСТВА</p>
            </a>

            <a class="icon-button" style="margin-left: 1.5%" asp-area="" asp-controller="Home" asp-action="Gallery">
                <img id="picture" src="~/img/gallery.png" />

                <p style="margin-top: 16%">ГАЛЕРЕЯ<br />ПРОЕКТОВ</p>
            </a>
        </div>

        <div style="display: flex; margin-top: 1.5%">
            <a class="icon-button" asp-area="" asp-controller="Home" asp-action="Partners">
                <img id="community" src="~/img/partners.png" />

                <p style="margin-top: 10%">РАБОТА С<br />ПАРТНЕРАМИ</p>
            </a>

            <a class="icon-button" style="margin-left: 1.5%" href="/img/Презентация СТМ.pdf">
                <img id="chalkboard" src="~/img/presentation.jpg" />

                <p style="margin-top: 16%">ПРЕЗЕНТАЦИЯ<br />КОМПАНИИ</p>
            </a>
        </div>
    </div>
</div>