@{
    ViewData["Title"] = "Работа с партнерами";
}

<div>
    <h2 id="subtitle-partners">
        Работа с партнёрами
    </h2>

    <div style="display: flex">
        <div class="white-border-div" style="margin-left: 6%; margin-top: 1%">
            <img id="partners-foundry-shop" src="~/img/foundry-shop.png" />

            <p class="central-image-description">ЛИТЕЙНЫЙ ЦЕХ</p>
        </div>

        <div style="margin-left: 18%">
            <p class="partners-text">
                Заказчик: Русал<br />
                Особенности проекта:<br />
                &nbsp;&nbsp;<span class="bold-point">·</span> Имитация технологического процесса в<br />
                &nbsp;&nbsp;литейном цехе в 3D от первого лица<br />
                &nbsp;&nbsp;<span class="bold-point">·</span> Работа в обучающем и ручном<br />
                &nbsp;&nbsp;(тренировочном режиме)<br />
                &nbsp;&nbsp;<span class="bold-point">·</span> Оценка действий обучаемых, хранение и<br />
                &nbsp;&nbsp;вывод на печать результатов обучения и<br />
                &nbsp;&nbsp;контроля
            </p>
        </div>
    </div>

    <div style="display: flex">
        <div class="white-border-div" style="margin-left: 6%; margin-top: 1%">
            <img id="residentional-complex" src="~/img/residentional-complex.png" />

            <p class="central-image-description">ЖИЛОЕ ЗДАНИЕ</p>
        </div>

        <div style="margin-left: 18%">
            <p class="partners-text">
                Особенности проекта:<br />
                &nbsp;&nbsp;<span class="bold-point">·</span> 3D платформер<br />
                &nbsp;&nbsp;VR дополнения на базе технологий<br />
                &nbsp;&nbsp;steamVR<br />
                &nbsp;&nbsp;<span class="bold-point">·</span> Интерактив по выбору дизайна в<br />
                &nbsp;&nbsp;помещении (несколько вариантов<br />
                &nbsp;&nbsp;дизайна помещений, смена элементов<br />
                &nbsp;&nbsp;декора, обстановки и т.п.)
            </p>
        </div>
    </div>

    <div style="display: flex">
        <div class="white-border-div" style="margin-left: 6%; margin-top: 1%">
            <img id="living-room" src="~/img/living-room.png" />

            <p class="central-image-description">НЕФТЕПЕРЕРАБАТЫВАЮЩАЯ ПРОМЫШЛЕННОСТЬ</p>
        </div>

        <div style="margin-left: 18%">
            <p class="partners-text">
                Заказчик: Лукойл<br />
                Особенности проекта:<br />
                &nbsp;&nbsp;<span class="bold-point">·</span> Имитация технологического<br />
                &nbsp;&nbsp;процесса на нефтеперерабатывающем<br />
                &nbsp;&nbsp;предприятии от первого и третьего<br />
                &nbsp;&nbsp;лица<br />
                &nbsp;&nbsp;<span class="bold-point">·</span> Работа в обучающем и ручном режиме<br />
                &nbsp;&nbsp;<span class="bold-point">·</span> Оценка действий обучаемых,<br />
                &nbsp;&nbsp;хранение и вывод на печать<br />
                &nbsp;&nbsp;результатов обучения и контроля.
            </p>
        </div>
    </div>
</div>