@{
    ViewData["Title"] = "Service";
}

<div>
    <h2 class="subtitle">Работа с партнёрами</h2>

    <div style="display: flex">
        <div class="white-border-div" style="margin-left: 6%; margin-top: 1%">
            <img id="partners-foundry-shop" src="~/img/foundry-shop.png" />

            <p class="central-image-description">ЛИТЕЙНЫЙ ЦЕХ</p>
        </div>

        <!--
        <div>
            <p>Заказчик: РУСАЛ</p>
        </div>
        -->
    </div>
</div>