@{
    ViewData["Title"] = "3D модели";
}

<div>
    <h2 class="subtitle">
        3D модели для застройщиков<br />и производства
    </h2>

    <div style="display: flex; margin-left: 6%; margin-top: 2%">
        <div class="white-square-div">
            <img class="service-image" src="~/img/foundry-shop.png" />

            <p class="central-image-description-black">Создание 3D моделей<br>для производства</p>
        </div>

        <div class="white-square-div" style="margin-left: 2%">
            <img class="service-image" src="~/img/apartament.png" />

            <p class="central-image-description-black">Создание 3D моделей<br>для застройщиков</p>
        </div>

        <div class="white-border-div" style="margin-left: 29%; height: 157px">
            <p class="about-text">
                С помощью 3D платформы есть<br />
                возможность самостоятельно погулять по<br />
                ЖК, выйти на балкон, посмотреть в окна,<br />
                детально помотреть и оценить дизайн<br />
                интерьера и экстерьера, внести правки
            </p>
        </div>
    </div>

    <div style="display: flex; margin-left: 6%; margin-top: 2%">
        <div class="white-square-div">
            <img class="service-image" src="~/img/VR.png" />

            <p class="central-image-description-black">Использование VR<br>технологий</p>
        </div>

        <div class="white-square-div" style="margin-left: 2%">
            <img class="service-image" src="~/img/AR.png" />

            <p class="central-image-description-black">Использование AR<br>технологий</p>
        </div>

        <div class="white-border-div" style="margin-left: 29%; height: 130px">
            <p class="about-text">
                Использование специальных перчаток<br />
                (помимо шлема) позволяет отработать<br />
                при помощи тренажерного комплекса<br />
                действия, требующие мелкой моторики
            </p>
        </div>
    </div>
</div>
    