@{
    ViewData["Title"] = "Service";
}

<body>
    <div>
        <h1 class="logo">3D модели для застройщиков <br /> и производства</h1>
        <div class="rechWh">
            <img id="plant" src="/img/plant.png" />
            <p id="textPic">Создание 3Д моделей для <br /> производства</p>
        </div>
        
        <div class="rechWh1">
            <img id="apartament" src="/img/apartament.png" />
            <p id="textPic1">Создание 3Д моделей для <br /> застройщиков</p>
        </div>
        
        <div class="rechWh2">
            <img id="VR" src="/img/VR.png" />
            <p id="textPic2">Использование VR технологий</p>
        </div>
        
        <div class="rechWh3">
            <img id="VR1" src="/img/VR1.png" />
            <p id="textPic2">Использование VR технологий</p>
        </div>

        <div>
            <div>
                <h1 class="textStroke">
                    С помощью 3D платформера есть <br /> возможность самостоятельно погулять по <br /> ЖК, выйти на балкон, посмотреть в окна, <br />
                    детально посмотреть и оценить дизайн интерьера <br />
                    и экстерьера, внести правки</h1>
            </div>
            <div class="border"></div>


            <div>
                <h1 class="textStroke1">Использование специальных перчаток <br />
                    (помимо шлема) позволяет отработать <br />
                    при помощи тренажерного комплекса <br />
                    действия, требующие мелкой моторики</h1>
            </div>
            <div class="border1"></div>
        </div>

        <div class="border2">

            <a class="butGallery" asp-area="" asp-controller="Home" asp-action="Gallery">
                <p id="textGallery">Посмотрите нашу галерею!</p>
            </a>
            
            
            <img id="strokeGal" src="/img/stroke.png" />
            <img id="strokeGal1" src="/img/stroke.png" />
            
        </div>
        
    </div>
</body>
    