<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlisaDesign</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cssAlisa.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ids.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/idAlisa.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlisaDesign.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="general-div">
        <header role="banner">
            <a id="logo-clickable" asp-area="" asp-controller="Home" asp-action="Index"><img id="stm" src="~/img/stm.jpg" /></a>

            <p id="contacts">+7 917 43 18 638 | info@techmsys.ru</p>
        </header>

        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer role="contentinfo">
        <p>
            &copy; techmsys, 2021. Создание качественных, современных и инновационные решений для различных отраслей промышленности.<br />
            ООО "Системы технологического моделирования"
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
