.rechWh{
    height: 220px;
    width: 300px;
    background-color: white;
    margin-top: 3.8%;
    margin-left: 6%;
}

.rechWh1 {
    height: 220px;
    width: 300px;
    background-color: white;
    margin-top: -11.8%;
    margin-left: 25%;
}

.rechWh2 {
    height: 220px;
    width: 300px;
    background-color: white;
    margin-top: 3%;
    margin-left: 6%;
}

.rechWh3 {
    height: 220px;
    width: 300px;
    background-color: white;
    margin-top: -11.8%;
    margin-left: 25%;
}

.logo {
    color: white;
    font-size: 33px;
    margin-left: 6%;
    font-family: 'PT Sans';
    margin-top: 1.1%
}
.textStroke{
    position: absolute;
    color: white;
    margin-top: -25.9%;
    margin-left: 61.5%;
    font-size: 20px;
}
.border {
    background: none;
    border: 3px solid white;

    position: absolute;
    width: 475px;
    height: 150px;
    margin-left: 60.5%;
    margin-top: -26.45%;
}
.textStroke1 {
    position: absolute;
    color: white;
    margin-top: -11%;
    margin-left: 61.5%;
    font-size: 20px;
}
.border1 {
    position: absolute;
    width: 475px;
    height: 150px;
    margin-left: 60.5%;
    background: none;
    border: 3px solid #ffffff;
    margin-top: -11.8%;
}

.border2 {
    position: absolute;
    width: 300px;
    height: 49px;
    margin-left: 6%;
    margin-top: 2%;
    background: none;
    border: 2px solid #ffffff;
}

.butGallery {
    text-decoration: none
}
.butGallery:hover {
    font-weight: bold;
}

.rectCase1{
    position: absolute;
    width: 450px;
    height: 130px;
    background: none;
    border: 3px solid white;
    margin-top: 6%;
    margin-left: 6%;
}

.rectCase2 {
    position: absolute;
    width: 450px;
    height: 130px;
    background: none;
    border: 3px solid white;
    margin-top: 15%;
    margin-left: 6%;
}

.rectCase3 {
    position: absolute;
    width: 450px;
    height: 130px;
    background: none;
    border: 3px solid white;
    margin-top: 24%;
    margin-left: 6%;
}

.rectforflat {
    position: absolute;
    width: 380px;
    height: 240px;
    background: none;
    border: 3px solid white;
    margin-top: -11.5%;
    margin-left: 62.5%;
}

.gallery-image {
    width: 263.9px;
    height: 170px;
}

.border-with-gallery {
    border: solid white;
    padding: 0.6%;
}

.border-with-gallery1 {
    border: solid white;
    padding: 0.6%;
}


