/* <img /> */

#stm {
    width: 97px;
    height: 42px;
    border-bottom: solid 4px #943f60;
}

#contacts {
    color: white;
    margin-top: 1.8%;
    margin-left: 52%;
}

#tesseract {
    width: 60px;
    height: 65px;
    margin-top: 8%;
    margin-left: 29%;
}

#picture {
    width: 65px;
    height: 60px;
    margin-top: 12%;
    margin-left: 26.5%;
}

#community {
    width: 77px;
    height: 71px;
    margin-top: 9%;
    margin-left: 22%;
}

#chalkboard {
    width: 63px;
    height: 55px;
    margin-top: 15%;
    margin-left: 28%;
}

#text-image {
    position: absolute;
    width: 850px;
    height: 550px;
    margin-left: 45%;
}

#partners-foundry-shop {
    width: 480px;
    height: 270px;
}

#residentional-complex {
    width: 480px;
    height: 270px;
}

#oil-rig {
    width: 480px;
    height: 270px;
}

/* <h1 /> */
#title {
    color: white;
    margin-left: 5.8%;
    margin-top: 0.4%;
}

/* <h2 /> */

#gallery-title {
    color: white;
    margin-left: 5.8%;
    margin-top: 0.4%;
}

/* <div /> */

#general-div {
    flex: 1 0 auto;
    min-width: 100%;
    min-height: 90.4%;
}

/* <a /> */

#detail-button {
    margin-top: 2%;
    margin-left: 7%;
    font-size: 25px;
    display: block;
    width: 145px;
    height: 40px;
    background: white;
    text-align: center;
    color: black;
    line-height: 39px;
    text-decoration: none;
    box-shadow: 2px 2px black, 2px -2px black, -2px 2px black, -2px -2px black, 4px 4px #4d4368, 6.5px 6.5px black, 9px 9px #8e496a;
}

    #detail-button:hover {
        box-shadow: 2px 2px black, 2px -2px black, -2px 2px black, -2px -2px black, 4px 4px #4d4368, 6.5px 6.5px black, 9px 9px #8e496a, inset 0.5px 0.5px black, inset 0.5px -0.5px black, inset -0.5px 0.5px black, inset -0.5px -0.5px black;
    }

#logo-clickable {
    margin-top: 1.5%;
    margin-left: 6%
}

    #logo-clickable img:hover {
        border-bottom: solid 4px #b55077;
    }
