html {
    font-size: 14px;
    position: relative;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/img/background.jpg);
    background-size: 100% 170%;
    background-repeat: repeat; /* !!! */
}

header {
    display: flex;
}

footer {
    flex: 0 0 auto;
    background-color: #C2E2D2;
    height: 7.6%;
    margin-top: 2%;
    background-color: #2C2D2E;
    border-top: solid 0px #2C2D2E;
}

    footer p {
        line-height: 1.2;
        margin-left: 6%;
        margin-top: 0.8%;
        color: #BEBEBE;
    }

h1 {
    font-family: 'PT Sans';
}

h2 {
    font-family: 'PT Sans';
}

h2.subtitle-about-contacts {
    color: white;
    font-size: 28px;
}

h2.subtitle {
    color: white;
    font-size: 33px;
    margin-left: 5.8%;
    margin-top: 1.1%;
}

p {
    font-family: 'PT Sans';
}

p.central-image-description-white {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 1.4%;
    margin-bottom: 0%;
}

p.central-image-description-black {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 1.4%;
    margin-bottom: 0%;
}

p.partners-text {
    color: white;
    font-size: 21px;
}

p.about-text {
    color: white;
    font-size: 18px;
    margin: 0%;
}

p.contact-text {
    color: white;
    font-size: 16px;
    margin: 0%;
}

span.bold-point {
    font-weight: bold;
}

a {
    font-family: 'PT Sans';
}

    a.icon-button {
        display: inline-block;
        background-color: white;
        width: 145px;
        height: 155px;
        border-bottom: solid 4px #943f60;
        text-decoration: none
    }

        a.icon-button p {
            color: black;
            text-align: center;
            font-size: 14px;
        }

        a.icon-button:hover {
            box-shadow: inset 3px 3px #0f93ff, inset 3px -3px #0f93ff, inset -3px 3px #0f93ff, inset -3px -3px #0f93ff;
            font-weight: bold;
        }

div.white-border-div {
    border: solid white;
    padding: 0.6%;
}

div.white-border-div-1 {
    border: solid white;
    padding: 1%;
}

div.white-square-div {
    background-color: white;
    padding: 0.6%;
}

img.service-image {
    width: 240px;
    height: 135px;
}